.sidebar-container {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  background-color: #f0ebe9;
  padding: 20px;
  margin: 20px;
  width: fit-content;
  cursor: pointer;
  pointer-events: auto;
}

/* 


.sidebar-header-title {
  margin-left: 10px;
}

.sidebar-header-logo {
  border-radius: 100%;
  border: solid 1px #dcdbdc;
}

.sidebar-expand-collapse-icon {
  border-radius: 100%;
  padding: 5px;
}

.sidebar-expand-collapse-icon:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidebar-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #dcdbdc;
  font-family: "YuseiMagic";
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 767px) {
  .sidebar-container {
    width: calc(100% - 20px - 20px);
    padding: 20px;
  }

  .sidebar-header-logo {
    width: 40px;
  }

  .sidebar-header-title {
    font-size: 1.5rem;
  }

  .sidebar-expand-collapse-icon {
    font-size: 2rem;
  }

  .sidebar-filter {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .sidebar-container {
    margin: 1%;
    padding: 20px;
    width: 350px;
  }

  .sidebar-header-logo {
    width: 50px;
  }

  .sidebar-header-title {
    font-size: 1.75rem;
  }

  .sidebar-expand-collapse-icon {
    font-size: 2rem;
  }

  .sidebar-filter {
    margin-top: 5%;
  }
} 
*/
