.listing-background {
  font-family: "YuseiMagic" !important;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  color: #dcdbdc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.listing-container {
  width: 500px;
  height: 100%;
  background-color: #3d3d3d;
}

.listing {
  z-index: 2;
  color: #dcdbdc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.listing-image-progress-bars {
  position: absolute;
  top: 5;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listing-image-progress-bars > .listing-image-progress-bar {
  flex: 1 0 auto;
}

.listing-image-progress-bar {
  height: 7px;
  margin: 0 3px;
}

.active {
  background-color: white;
}

.inactive {
  background-color: #5d5d5d;
}

.listing-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.listing-header {
  font-size: 3rem;
}

.listing-subtitle {
  font-size: 0.75rem;
}

.listing-exit-icon {
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  background-color: #5d5d5d;
}

.listing-exit-icon:hover {
  background-color: #7c7c7c;
}

.listing-exit-icon-button {
  width: 100%;
  height: 100%;
  border: none;
}

.listing-image-container {
  width: auto;
  height: auto;
  position: relative;
  max-height: 400px;
  overflow: hidden;
  margin-top: 10px;
}

.listing-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listing-interactive-image-div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.listing-info {
  width: auto;
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.listing-button {
  width: 100%;
}

/* cellphone-sized screens */
@media (max-width: 767px) {
  .listing {
    width: calc(100% - 20px - 20px);
    padding: 20px;
    left: 0%;
  }

  .listing-exit-icon {
    /* font-size: 1rem; */
  }

  .listing-button {
    margin-top: 10px !important;
  }
}

/* Laptop-sized screens */
@media (min-width: 768px) {
  .listing {
    width: calc(100% - 20px - 20px);
    padding: 20px;
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
  }

  .listing-exit-icon {
    /* font-size: 1rem; */
  }

  .listing-button {
    margin-top: 10px !important;
  }
}
